* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #F4F4F4;
}
button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 95%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-links, .translate {
    display: flex;
    padding: 0px 40px;
}

.logo-container {
    flex: 1;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-links li {
    padding: 0px 20px;
}

.nav-link {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.translate {
    flex: 1;
    justify-content: flex-end;
    cursor: pointer;
}

.arrow {
    padding: 0px 4px;
    align-self: center;
}
.nav-links li a:hover {
    color: #817676;
    transition: transform 0.3s ease-in;
}
.presentation {
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 100vh;
    align-items: center;
}
.introduction1 {
    flex: 1;
}
.intro-text1 {
    font-size: 45px;
    font-weight: 300;
}

.cta {
    padding: 30px 0px;
    overflow: hidden;
    
}
.cta-ft {
    padding: 30px 0px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    
}
.download{
    overflow: hidden;
    border: 0px solid;
    position: relative;
    display: inline-block;
    border-radius: 50px;
    background-color: #4B4A4A;
    color: #F4F4F4;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
    outline-style: none;
    
}
.features {
    overflow: hidden;
    border: 0px solid;
    position: relative;
    display: inline-block;
    border: 2px solid;
    border-radius: 50px;
    background-color:transparent;
    color: #4B4A4A;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
    outline-style: none;
}
.sdk {
    overflow: hidden;
    border: 0px solid;
    position: relative;
    display: inline-block;
    border-radius: 50px;
    background-color: #4B4A4A;
    color: #F4F4F4;
    margin: 0px 0px 0px 20px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
    outline-style: none;
}
span {
position: absolute;
background :#FFF;
transform: translate(-50%, -50%);
pointer-events: none;
border-radius: 50%;
animation: animate 1s linear infinite;

}
@keyframes animate  {

    0%{
        width: 0px;
        height: 0px;
        opacity: 0.3;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0.3;
    }
}

.introduction2 {
    flex: 1;
    
}
.intro-text2 {
    margin: 150px 0px 0px 140px;
    justify-content: center;
    
}

.lrnmore {
    padding: 30px 0px;
    cursor: pointer;
}

.lrnmore:hover {
    color: #817676;
    transition: transform 0.3s ease-in;
}

@media only screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    .line {
        width: 22px;
        height: 3px;
        background-color: #000000;
        margin: 5px;
        border-radius: 5px;

    }
    .hamburguer {
        /* Menu hamburguer */
        position: relative;
        cursor: pointer;
        height: 0px;
        left: 85%;
        right: 0%;
        top: -10px;
        transform: translate(-5%, -50%);
        z-index: 1;
    }
    .translate {
        display: none;
    }
    .nav-link {
        display: none;
    }
    
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .line {
        width: 22px;
        height: 3px;
        background-color: #000000;
        margin: 5px;
        border-radius: 5px;
    }
    .hamburguer {
        /* Menu hamburguer */
        position: relative;
        cursor: pointer;
        height: 2px;
        left: 85%;
        right: 0%;
        top: 50;
        transform: translate(-5%, -50%);
        z-index: 1;
    }
    .translate {
        display: none;
    }
    .nav-links {
        position: absolute;
        background-color: #4B4A4A;
        width: 100vw;
        height: 100vh;
        left: 0%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        overflow-x: hidden;
        /*transform: translateX(100%);
        transition: transform 0.5s ease-in;       
        */
    }
     .nav-links.active  {
        transform: translateX(100%);
        transition: transform 0.4s ease-in ;
        
    }
    .nav-links a {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: .2rem;
        text-decoration: none;
        color: #F4F4F4;
        text-transform: uppercase;
        padding: 20px;
        display: block;
    }
    .nav-links a::after {
        /* Animação de texto na navbar */
        content: attr(data-after);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: rgba(240, 248, 255, 0.021);
        font-size: 4rem;
        letter-spacing: 50px;
        z-index: -1;
        transition: .3s ease letter-spacing;
    }
    .nav-links li:hover a::after {
        /* Animação de texto na navbar */
        transform: translate(-50%, -50%) scale(1);
        letter-spacing: initial;
    }
    
}