* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #F4F4F4;
}
button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 95%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-links, .translate {
    display: flex;
    padding: 0px 40px;
}

.logo-container {
    flex: 1;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-links li {
    padding: 0px 20px;
}

.nav-link {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.translate {
    flex: 1;
    justify-content: flex-end;
    cursor: pointer;
}

.arrow {
    padding: 0px 4px;
    align-self: center;
}
.nav-links li a:hover {
    color: #817676;
    transition: transform 0.3s ease-in;
}
.presentation {
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 100vh;
    align-items: center;
}
.introduction1 {
    flex: 1;
}
.intro-text1 {
    font-size: 45px;
    font-weight: 300;
}

.cta {
    padding: 30px 0px;
    overflow: hidden;
    
}
/*.cta-ft {
    padding: 30px 0px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    
}*/
.cta-ft {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.download{
    border: 2px solid;
    border-radius: 50px;
    background-color: #4B4A4A;
    color: #F4F4F4;
    margin: 0px 0px 0px 0px;
    width: 150px;
    height: 50px;
    box-shadow: inset 0 0 0 0 #F4F4F4;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    transition: ease-out 0.3s;
    text-align: center;
}
.download:hover{
    box-shadow: inset 150px 0 0 0 #F4F4F4;
    color: #4B4A4A;
    border: 2px solid ;
}
.features {
    border: 2px solid;
    border-radius: 50px;
    background-color: #F4F4F4;
    color: #4B4A4A;
    margin: 0px 0px 0px 20px;
    width: 150px;
    height: 50px;
    box-shadow: inset 0 0 0 0 #F4F4F4;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
    outline: none;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
}
.features:hover{

    color: #F4F4F4;
    border: 2px solid ;

}
.sdk:hover{

    color: #F4F4F4;
    border: 2px solid ;

}
.features::before{
transition: 0.5s all ease;
position: absolute;
top: 0;
left: 50%;
right: 50%;
bottom: 0;
opacity: 0;
content: "";
background-color: #4B4A4A;
border-radius: 50px;
}
.sdk::before{
transition: 0.5s all ease;
position: absolute;
top: 0;
left: 50%;
right: 50%;
bottom: 0;
opacity: 0;
content: "";
background-color: #4B4A4A;
border-radius: 50px;
}
.features:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.sdk:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.sdk {
    border: 2px solid;
    border-radius: 50px;
    background-color: #F4F4F4;
    color: #4B4A4A;
    margin: 0px 0px 0px 20px;
    width: 150px;
    height: 50px;
    box-shadow: inset 0 0 0 0 #F4F4F4;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
    outline: none;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
}


span {
position: absolute;
background :#FFF;
transform: translate(-50%, -50%);
pointer-events: none;
border-radius: 50%;
animation: animate 1s linear infinite;

}
/*Background zips */
.zips {
    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.tflat {
position: absolute;
top: 600px;
right: 0px;
z-index: -1;
opacity: 0.5;
}
.zipinv {
position: absolute;
top: 1000px;
left: 100px;
z-index: -1;
opacity: 0.5;
left: 00px;

}

.animate__animated.animate__flipInX {
    --animate-duration: 3s;
}
@keyframes animate  {

    0%{
        width: 0px;
        height: 0px;
        opacity: 0.3;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0.3;
    }
}

.introduction2 {
    flex: 1;
    
}
.intro-text2 {
    margin: 150px 0px 0px 140px;
    justify-content: center;
    
}

.lrnmore {
    padding: 30px 0px;
    cursor: pointer;
}

.lrnmore:hover {
    color: #817676;
    transition: transform 0.3s ease-in;
}
.ftcheck {
    font-weight: 500;
    color: #4B4A4A;
    align-items: center;
    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   
}

.line1 {
display: flex;
flex-direction: row;
margin-top: 150px;
justify-content: center;
}
.line2 {
display: flex;
flex-direction: row;
margin-top: 40px;
justify-content: center;
}
.check {
    padding: 0px 20px;
    justify-content: center;
}
.faq-container{
    justify-items: center;
    align-items: center;
    padding: 300px 0px 0px 0px;
}
.faqpres {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #4B4A4A;
    font-weight: 500;
    font-size: 20pt;
}
.question {
    align-self: center;
}

.accordion-sec{
width: 100%;
height: 100vh;
display: flex;
height: 80vh;
align-items: center;
justify-content: center;
}
.accordion-container{
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1.5rem;

}
.accordion-item {
    background-color: #DCDCDC;
    border-radius: .7rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    box-shadow: .0rem 2px .5rem rgba(0, 0, 0, .1);
}

.accordion-link {
    font-size: 1.1rem;
    color: #4B4A4A;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0;
    
}
.accordion-link i {
color: #4B4A4A;
padding: 0.5rem;
}
.accordion-link p {
color:#4B4A4A;
font-weight: 500;

}
.answer p {
    color: #817676;
}

.remove-outline {
    display: none;
}
.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 700ms;
}
.answer::before{
    content: "";
    position: absolute;
    
}
.accordion-item:target .answer{
max-height: 20rem;
}

.accordion-item:target .accordion-link .chevron-down-outline {
    display: none;
}

.accordion-item:target .accordion-link .remove-outline{
    display: block;
}



@media only screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    .line {
        width: 22px;
        height: 3px;
        background-color: #000000;
        margin: 5px;
        border-radius: 5px;

    }
    .hamburguer {
        /* Menu hamburguer */
        position: relative;
        cursor: pointer;
        height: 0px;
        left: 85%;
        right: 0%;
        top: -10px;
        transform: translate(-5%, -50%);
        z-index: 1;
    }
    .translate {
        display: none;
    }
    .nav-link {
        display: none;
    }
    
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .line {
        width: 22px;
        height: 3px;
        background-color: #000000;
        margin: 5px;
        border-radius: 5px;
    }
    .hamburguer {
        /* Menu hamburguer */
        position: relative;
        cursor: pointer;
        height: 2px;
        left: 85%;
        right: 0%;
        top: 50;
        transform: translate(-5%, -50%);
        z-index: 1;
    }
    .translate {
        display: none;
    }
    .nav-links {
        position: absolute;
        background-color: #4B4A4A;
        width: 100vw;
        height: 100vh;
        left: 0%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        overflow-x: hidden;
        /*transform: translateX(100%);
        transition: transform 0.5s ease-in;       
        */
    }
     .nav-links.active  {
        transform: translateX(100%);
        transition: transform 0.4s ease-in ;
        
    }
    .nav-links a {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: .2rem;
        text-decoration: none;
        color: #F4F4F4;
        text-transform: uppercase;
        padding: 20px;
        display: block;
    }
    .nav-links a::after {
        /* Animação de texto na navbar */
        content: attr(data-after);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: rgba(240, 248, 255, 0.021);
        font-size: 4rem;
        letter-spacing: 50px;
        z-index: -1;
        transition: .3s ease letter-spacing;
    }
    .nav-links li:hover a::after {
        /* Animação de texto na navbar */
        transform: translate(-50%, -50%) scale(1);
        letter-spacing: initial;
    }
    
}